.main{
    width:100%;
    background-color: white;
    min-height:70px;
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 50px;
    height: 50px;
    margin:10px;
}
.nextButton{
    margin:10px;
    cursor: pointer;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(87, 87, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextButton:hover{
    background-color: rgb(87, 87, 238, 0.5);
}
.nextButton span{
    color: white;
    font-size: 20px;
    font-weight: bold;
}